<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="Your_WebApp_ID" version="2.5">
	
	<display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<servlet>
		<description></description>
		<display-name>Controller</display-name>
		<servlet-name>Controller</servlet-name>
		<servlet-class>by.tr.web.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Controller</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserMainPage</servlet-name>
		<jsp-file>/WEB-INF/jsp/afterLogIn.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserMainPage</servlet-name>
		<url-pattern>/user-main-page</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PersonalData</servlet-name>
		<jsp-file>/WEB-INF/jsp/personalData.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PersonalData</servlet-name>
		<url-pattern>/personal-data</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SuccessfulUpdating</servlet-name>
		<jsp-file>/WEB-INF/jsp/afterUpdating.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SuccessfulUpdating</servlet-name>
		<url-pattern>/update-info</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddQuestion</servlet-name>
		<jsp-file>/WEB-INF/jsp/addQuestion.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddQuestion</servlet-name>
		<url-pattern>/add-question</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditText</servlet-name>
		<jsp-file>/WEB-INF/jsp/editText.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditText</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyQuestions</servlet-name>
		<jsp-file>/WEB-INF/jsp/userQuestions.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyQuestions</servlet-name>
		<url-pattern>/user-questions</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyAnswers</servlet-name>
		<jsp-file>/WEB-INF/jsp/userAnswers.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyAnswers</servlet-name>
		<url-pattern>/user-answers</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>by.tr.web.controller.listener.ControllerCreationListener</listener-class>
	</listener>
	
	<filter>
		<display-name>CharsetFilter</display-name>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>by.tr.web.controller.filter.CharsetFilter</filter-class>
		<init-param>
			<param-name>targetCharset</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/Controller</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>QuestionsFeedFilter</filter-name>
		<filter-class>by.tr.web.controller.filter.QuestionsFeedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>QuestionsFeedFilter</filter-name>
		<url-pattern>/user-main-page</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>FrequentLanguagesFilter</display-name>
		<filter-name>FrequentLanguagesFilter</filter-name>
		<filter-class>by.tr.web.controller.filter.FrequentLanguagesFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FrequentLanguagesFilter</filter-name>
		<url-pattern>/jsp/question.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<filter>
		<display-name>AuthenticationFilter</display-name>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>by.tr.web.controller.filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/user-answers</url-pattern>
		<url-pattern>/user-questions</url-pattern>
		<url-pattern>/add-question</url-pattern>
		<url-pattern>/edit</url-pattern>
		<url-pattern>/user-main-page</url-pattern>
		<url-pattern>/personal-data</url-pattern>
		<url-pattern>/update-info</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>IsBannedFilter</display-name>
		<filter-name>IsBannedFilter</filter-name>
		<filter-class>by.tr.web.controller.filter.IsBannedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IsBannedFilter</filter-name>
		<url-pattern>/add-question</url-pattern>
		<url-pattern>/edit</url-pattern>
	</filter-mapping>

	<jsp-config>
		<taglib>
			<taglib-uri>likeitTagLib</taglib-uri>
			<taglib-location>/WEB-INF/tld/likeitTagLib.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/error/404.jsp</location>
	</error-page>
	
</web-app>